# R stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Quarto stuff
/.quarto/
**/*_cache/*
_site/
manuscript/output/

*.pdf
*.html
*.docx

!manuscript/html/title-metadata.html

# Targets stuff
_targets
_targets.yaml

# Data stuff
data/raw_data/
data/manual_data/
data/derived_data/
